@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Nunito', sans-serif;
    --light-blue: #D5E1EE;
}

body {
    font-family: var(--main-font);
    background-color: var(--light-blue);
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 3rem;
}

.card {
    width: 330px;
    background-color: #FEFFFE;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card img {
    width: 100%;
    border-radius: 20px;
    margin: auto;
}

.card h1, p {
    padding: 0 1.5rem;
}

.card h1 {
    font-size: 1.275rem;
    font-weight: 800;
    text-align: center;
}

.card p {
    font-size: .9rem;
    font-weight: 600;
    color: #676768;
}

.attribution {
    font-size: .8rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    border-bottom: 1px solid hsl(228, 45%, 44%);
    transition: border-color .5s ease-in-out;
    transition: font-weight .3s ease-in-out;
}

.attribution a:hover {
    border-color: transparent;
    font-weight: 800;
}

@media screen and (max-width: 375px) {
    html {
        font-size: 12px;
    }

    .card {
        width: 260px;
    }

    .card img {
        width: 95%;
    }
}